.landing-art {
    background-image: url(/img/background-image-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 120vh;

    display: flex;
    justify-content: center;
}



.landing-art::before {
    content: '';
    position: absolute;
    bottom: -20vh;
    left: 0;
    width: 100%;
    height: 20vh;
    background: linear-gradient(to top, var(--second-bg-color), transparent);
    /* third highest z-index */
    z-index: 10;
  }

.landing-art .layer {
    position: absolute;
    bottom: -20vh;
    left: 0;
    width: 100%;
    height: 120vh;

    background: rgba(0, 0, 0, 0.6);
    padding: 1rem 1rem 30vh 1rem;

    display: grid;
    place-items: center;
}

.heading-wrapper {
    /* position: fixed; */
    text-align: center;
    width: 40%;
    margin-top: 5rem;

    color: var(--first-bg-color);
}

.text-wrapper h1 {
    margin-bottom: 1rem;
}

.heading-wrapper p {
    margin-top: 1rem;
}

.art-for-sale {
    background: linear-gradient(to bottom, var(--second-bg-color), var(--first-bg-color));
}

.art-container {
    /* background-color: var(--first-bg-color); */
    columns: 5;
    column-gap: 1rem;
}

.art-container .art-box {
    position: relative;

    box-shadow: 0 0 2rem var(--bg-color);
    overflow: hidden;

}

.art-box {
    height: fit-content;
    width: 100%;
    transition: 0.15s ease;
    margin-bottom: 1.5rem;
}


.art-box img {
    width: 100%;
    object-fit: cover;
    transition: 0.5s ease;
    border: 0.25rem var(--second-bg-color) solid;
    border-radius: 0.5rem;
}

.art-box:hover img {
    border-color: var(--main-color);
}

.art-box .art-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(transparent, rgba(255, 255, 255, 0.5));
    padding: 1rem;

    display: flex;
    justify-content: space-around;
    align-items: end;

    transform: translateY(200%);
    transition: 0.5s ease;
}

.art-box:hover .art-layer {
    transform: translateY(0);
}

.art-layer button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 3rem;
    background: var(--main-color);
    border-radius: 1.5rem;
    transition: 0.5s ease;
    color: var(--first-bg-color);
    font-weight: 600;
    font-size: 0.6rem;
}

.art-layer button:hover {
    transform: scale(1.1);
}

.art-layer button:active {
    transform: scale(0.95);
}

.art-layer button i {
    font-size: 1.5rem;
    color: var(--first-bg-color);
}

